/*
used the same font stylings(family/size) from the Hackernews site to keep it simple
*/
:root {
  --yahoo-font: Verdana, Geneva, sans-serif;
  --yahoo-font-size: 9pt;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  margin-left: 30px;
  font-family: var(--yahoo-font);
  font-size: var(--yahoo-font-size);
  line-height: 16px;
  padding: 8px;
  margin: 0 100px;
  background: #f6f6ef;
}

.commentHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 8pt;
  color: #828282;
  gap: 5px;
}

.pointer {
  cursor: pointer;
}

.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}
